doctype html
html
  head
    title BarKode
    link(rel='stylesheet', href='css/main.css')
  body
    div.covercontainer
      video(poster='/images/poster.jpg' autoplay='true', loop)
        source(src='/videos/lego.mp4', type='video/mp4')
        source(src='/videos/lego.webm', type='video/webm')
      div.covertext
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  script(src='js/main.js')